.questionario-wallpaper{
    background: linear-gradient(rgb(13, 24, 68));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 0;
    display: flex;
    
}


.pergunta-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.descricao-pergunta{
    font-size: 1rem;
    margin: 5%;
    
    margin-bottom: 15px !important;
    
    color: rgb(255, 255, 255);
}


/*Estilos das alternativas*/

.alternativas{
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.quadrado-container-questionario{
    text-align: center;
    cursor: pointer;
}

.quadrado-container small{
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.75rem;
    margin-top: 5px;
}




