.papel-parede-introducao{
    background-image: url("./../../img/14394.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin: 0;
    top: 0;
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}


.fonte-aip{
    color: color-mix(in srgb-linear, #794fb5 20%, #bc87e7 60%);
    border-radius: 2px;
    -webkit-text-stroke: 0.7px rgb(255, 255, 255);
    letter-spacing: 10px;
    font-weight: 40%;
    font-size: 70px;
}

.textos-instrucao{
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.2px rgb(0, 0, 0);
    font-display: flex;
    font-size: larger;
   
}

